@model IEnumerable<valorantApplication.Models.TournamentDetailsDto>
@{
    ViewBag.Title = "List";
}

<h1 id="touurnamentHeading">Tournament Details</h1>
<a href="/TournamentDetails/New" id="addTournamentDetails">Add Tournament Details</a>
<link rel="stylesheet" href="~/Content/Style.css" />

<div class="tournamentDetailsContainer">
    @foreach (var tournamentDetails in Model)
    {
        <div class="tournamentDetailsItem">
            <h2><a href="/TournamentDetails/Details/@tournamentDetails.TournamentId" id="tournamentTitle">@tournamentDetails.LatestTournament</a></h2>
            <div class="tourDetails">Latest agent played: @tournamentDetails.LatestAgent</div>
            <div class="tourDetails">Total in game kills: @tournamentDetails.TotalKills</div>
            <div class="tourDetails">Result of game: @tournamentDetails.result</div>
        </div>  
    }
</div>




